<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<th:block th:fragment="content">
    <ul>
        <li onclick="kakaoLogin();">
            <a href="javascript:void(0)">
                <span>카카오 로그인</span>
                <button type="button" id="" class="btn btnEvent">
                    <a href="/login" class="btn_3"> <img src="/bootstrap/img/kakao_login.png" alt="btnImages" class="btnImages"></a>
                </button>
            </a>
        </li>
        <li onclick="kakaoLogout();">
            <a href="javascript:void(0)">
                <span>카카오 로그아웃!!</span>


            </a>
        </li>
    </ul>
    <!-- 카카오 스크립트 -->
    <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
    <script>
        Kakao.init('6a8f6981bee9f7639d299e57bffd91be'); //발급받은 키 중 javascript키를 사용해준다.
        console.log(Kakao.isInitialized()); // sdk초기화여부판단
        //카카오로그인
        function kakaoLogin() {
            Kakao.Auth.login({
                success: function (response) {
                    Kakao.API.request({
                        url: '/v2/user/me',
                        success: function (response) {
                            console.log(response)
                        },
                        fail: function (error) {
                            console.log(error)
                        },
                    })
                },
                fail: function (error) {
                    console.log(error)
                },
            })
        }
        //카카오로그아웃
        function kakaoLogout() {
            if (Kakao.Auth.getAccessToken()) {
                Kakao.API.request({
                    url: '/v1/user/unlink',
                    success: function (response) {
                        console.log(response)
                    },
                    fail: function (error) {
                        console.log(error)
                    },
                })
                Kakao.Auth.setAccessToken(undefined)
            }
        }
    </script>
</th:block>
</html>